@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "bootstrap";

@import "src/assets/scss/components/components";

@font-face {
  font-family: 'SFProDisplay';
  src: url("fonts/SFProDisplay.woff2") format("woff2"),
  url("fonts/SFProDisplay.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'SFProDisplay', sans-serif;
  font-size: 16px;
  background-color: #FAFAFB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
