.alert-container {
  position: absolute;
  top: 107px;
  left: 50%;
  transform: translateX(-50%);

  .alert {
    width: 808px;
    background: #FFFFFF;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
    box-shadow: none;
    padding: 0;

    .alert-body {
      display: table-cell;
      vertical-align: middle;
      text-indent: 14px;
      height: 44px;
    }
  }

  .alert.danger {
    border: 1px solid #E53051;
    .alert-body {
      color: transparentize(#E53051, 0.5%);
    }
  }

  .alert.success {
    border: 1px solid #007E5A;
    .alert-body {
      color: transparentize(#007E5A, 0.5%);
    }
  }
}