.login {
  height: calc(100vh - 60px);

  .title {
    margin: 116px 0 25px;
    font-size: 24px;
    line-height: 24px;
  }

  input {
    margin-bottom: 16px;
    width: 391px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #EFF1F3;
    box-sizing: border-box;
    text-indent: 14px;

    &::placeholder {
      color: #727981;
      opacity: 0.5;
      vertical-align: center;
    }
  }
}