.navbar {
  height: 60px;
  background: white;
  border-bottom: 1px solid #EFF1F3;

  .brand {
    margin-left: 20px;
  }

  .title {
    width: 207px;
    height: 20px;
    margin-left: 38px;
    text-align: right;

    .text {
      line-height: 16px;
      color: #727981;
    }
  }

  .logout {
    width: 207px;
    height: 20px;
    margin-right: 30px;
    text-align: right;
    color: #E53051;
    cursor: pointer;
  }
}